// FONT FAMILY

@mixin regular-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
}

@mixin bold-font {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
}

@mixin style-script {
    font-family: 'Style Script', cursive;
    font-weight: 400;
    font-style: normal;
}

// POSITIONING

@mixin vertical-center {
    display: flex;
    align-items: center;
}

@mixin position-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
