@import './variables';
@import './mixins';

footer {
    @include bold-font;
    @include vertical-center;
    background-color: $primary-color;
    padding: 0 300px;
    .footerContainer {
        width: 100%;
        padding-top: 70px;

        .socialIcons {
            @include horizontal-center;

            a {
                color: $main-text-color;
                text-decoration: none;
                padding: 10px;
                background-color: white;
                margin: 10px;
                border-radius: 50%;

                i {
                    font-size: 2em;
                    color: $main-text-color;
                    opacity: 0.9;
                }

                &:hover {
                    background-color: $primary-color;
                    transition: 0.5s;

                    i {
                        color: $main-text-color;
                        transition: 0.5s;
                    }
                }
            }
        }

        .footerNav {
            margin: 30px 0;

            ul {
                @include horizontal-center;
                list-style-type: none;

                li a {
                    color: $secondary-color;
                    margin: 20px;
                    text-decoration: none;
                    font-size: 1.3em;
                    opacity: 0.7;
                    transition: 0.5s;

                    &:hover {
                        opacity: 1;
                        color: white;
                    }
                }
            }
        }

        .footerBottom {
            background-color: $main-text-color;
            text-align: center;

            p {
                color: $secondary-color;
            }
        }
    }
}

// Media query
@media (max-width: 700px) {
    .footerNav ul {
        flex-direction: column;

        li {
            width: 100%;
            text-align: center;
            margin: 10px;
        }
    }
}
