@import './variables';
@import './mixins';

.search-box {
    @include position-center;
    margin: 20px 0px;
    .search-container {
        @include position-center;
        width: 300px;
        border: 1px solid $second-text-color;
        border-radius: 25px;
        overflow: hidden;
        background-color: #ecebeb;
    }
}

.search-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    color: black;
    background-color: transparent;
}

.search-button {
    padding: 10px 20px;
    background-color: $main-text-color;
    color: white;
    border: none;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: $secondary-color;
    }
}
